/*                   General                      */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
	scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', 'sans-serif';
}
/*          Contenedor General          */
.contendor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 100px 0;
}
/*          Fondo          */
header {
    height: 100vh;
    background-color: #5F6FE8 ;
    background-repeat:no-repeat ;
    background-size: cover;
}

/* 			Logo			*/
.Superior{
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.Logo{
	margin: 15px;
	margin-top: 25px;
	margin-left: 25px;
	height: 150px;
	width: 150px;
	border-radius: 25px;
	cursor: pointer;
}
@media(max-width: 414px) {
    .Logo {
    	margin: 10px;
        height: 65px;
		width: 65px;
    }
}
@media(max-width: 375px) {
    .Logo {
        height: 75px;
		width: 75px;
    }
}

.Redes{
	margin: 20px;
	display: flex;
	flex-direction: column;
    align-items: flex-end;
}
@media(max-width: 414px) {
    .Redes {
    	align-items: flex-start;
    	margin: 10px;
    }
}
@media(max-width: 375px) {
    .Redes {
    	align-items: flex-start;
    }
}
/* 		Barra 			*/
.Barra{
	margin: 10px;
	margin-right: 30px;
	background-color: white;
	display: flex;
	border-radius: 10px;
}
@media(max-width: 414px) {
    .Barra {
    	margin-left: 300px;
		margin-right: 0px;
    }
}
@media(max-width: 375px) {
    .Barra {
    	margin-left: 300px;
		margin-right: 0px;
    }
}
.RS{
	margin: 10px;
	margin-top: 20px;
}

.RS-img{
	height: 35px;
	width: 35px;
	margin: 5px;
	margin-right: 20px;
	margin-left: 20px;
	background-color: white;
	border-radius: 5px;
	padding: 3px;
	cursor: pointer;
}
@media(max-width: 414px) {
    .RS-img {
    	margin: 5px;
    }
}
@media(max-width: 375px) {
    .RS-img {
    	margin: 5px;
    }
}
.subtitulo2{
	border-radius: 15px;
	margin: 1px;
	padding: 15px;
	margin-right: 25px;
	margin-left: 25px;
	cursor: pointer;
}
.subtitulo2:hover {
    background: rgb(255, 163, 163);
}
/*		Panel 			*/
.Panel{
	margin: 20px;
	height: 80%;
	width: 98%;
	background-color: white;
	border-radius: 20px;
}
@media(max-width: 600px) {
    .Panel {
	height: 50%;
	width: 70%;
    }
}
@media(max-width: 414px) {
    .Panel {
    	height: 60%;
        width: 60%;
    }
}
@media(max-width: 375px) {
    .Panel {
        width: 85%;
        height: 65%;
    }
}
.Wsp{
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 110px;
	height: 110px;
	cursor: pointer;
}
@media(max-width: 414px) {
    .Wsp {
        position: relative;
        right: -200px;
		bottom: 350px;
		width: 80px;
		height: 80px;
    }
}
@media(max-width: 375px) {
    .Wsp {
        position: relative;
        right: -260px;
		bottom: 110px;
		width: 80px;
		height: 80px;
    }
}
/*          División         */
.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

/*			Información		*/
.Información{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.info{
	width: 400px;
	align-content: center;
}
.info img{	
	width: 250px;
	height: 250px;
	align-items: center;
	margin: 30px 75px;
}
.info h3{	
	text-align: center;
}

/*            Subtitulos          */
.subtitulo{
	text-align: center;
	font-weight: lighter;
	font-size: 35px;
	margin: 20px 0;
}

/* 			Slider 				*/
.another{
	display: flex;
	justify-content: center;
}

@media(max-width: 414px) {
    .another {
        width: 73%;
        height: 65%;
    }
}
@media(max-width: 375px) {
    .another {
        width: 98%;
        height: 65%;
    }
}

.slider_content {
    width: 95%;
    overflow: hidden;
    position: relative;
}


.slider {
    display: flex;
    width: 300%;
    height: 700px;
    margin-left: -100%;
}
.slider_section{
}

.imgslider {
    display: block;
    width: 100%;
    height: 100%;
}
@media(max-width: 600px) {
    .imgslider {
	height: 50%;
    }
}
.slider_btn {
    z-index: 100;
    position: absolute;
    text-align: center;
    align-items: center;
    color: beige;
    width: 30px;
    height: 30px;
    font-size: 23px;
    border-radius: 100%;
    opacity: 70%;
    background: #000000;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.slider_btn:hover {
    opacity: 100%;
}

.izq {
    left: 10px;
}

.der {
    right: 10px;
}

/*               Proyectos               */
.contendor-proy{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.img-galeria{
	width: 30%;
	display: block;
	margin: 10px 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

/*            Imagen Superpuesta            */
.image-light{
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(100%);
	transition: transform .2s easy-in-out;
}

.show{
	transform: translate(0);
}

.agregar-imagen{
	width: 40%;
	transform: scale(0);
	transition: transform .3s .2s;
}

.showImage{
	transform: scale(1);
}

.close{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 40px;
	cursor: pointer;
	background: #fff;
	border-radius: 25%;
}

footer{
	background: #5F6FE8;
	padding-bottom: 0.1px;
}

.footer-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.social-media-icon{
	margin: 0 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

